#jobdetails:focus
{
    outline: none;
}

#jobdetails
{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}

#profile:focus
{
    outline: none;
}

#profile
{
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}